name: generate-upload-manifest

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  generate-manifest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/Hydrogen
          # cache: npm
      # need to cd into the directory for each command
      # possibly a better organization exists but this works for now
      - name: Install dependencies
        run: cd .github/generator && npm ci
      - name: Generate manifest.json
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: cd .github/generator && src/generate-manifest.ts
