name: test-manifest-generation

on: [pull_request, workflow_dispatch]

jobs:
  generate-manifest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/Hydrogen
      # need to cd into the directory for each command
      # possibly a better organization exists but this works for now
      - name: Install dependencies
        run: cd .github/generator && npm ci
      - name: Unit tests
        run: cd .github/generator && jest
